/* Disable rubber band scrolling */
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/* Disable blue halo */
input, textarea, select, a { outline: none; }

img.emoji {
    font-size: 1.2em;
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.embed-responsive-item {
    width: 100%;
}

table {
    margin-bottom: 15px;
    width: 100%;
}

thead {
    border-bottom: 2px solid #ccc;
}

table th, table td {
    padding: 5px;
}

.sidebar {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 225px;
}

.sidebar input[type='text'] {
    width: 209px;
    height: 25px;
    margin: 5px;
}

.content {
    position: absolute;
    margin-left: 225px;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
}

.content .wrapper.left {
    position: absolute;
    height: 100%;
    width: 50%;
    overflow: auto;
}

.content .wrapper.left .editor {
    height: 100%;
}

.content .wrapper.right {
    position: absolute;
    overflow: auto;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
}

.preview {
    padding: 15px;
}

.preview li > input[type='checkbox'] {
    margin-right: 8px;
}

h1 { font-size: 32px; }
h2 { font-size: 26px; }
h3 { font-size: 22px; }
h4 { font-size: 16px; }
h5 { font-size: 14px; }
h6 { font-size: 12px; }

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.2em;
}
