$base-padding: 15px;

$primary-color: #00ffd5;
$bg-color: #3e4a48;

$panel-border-dark: 1px solid #2c3231; // rgba(0, 0, 0, 0.3);
$panel-border-light: 1px solid #525b59; // rgba(255, 255, 255, 0.1);

$status-height: 65px;

html, body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

img.emoji {
    font-size: 1.2em;
    height: 1em;
    width: 1em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.1em;
}

.hidden {
    display: none;
}

.embed-responsive-item {
    width: 100%;
}

.column {
    background-color: $bg-color;
    //background-color: #e3edf5;
    //background-color: #fdf6e3;
    position: absolute;
    overflow: auto;
    height: 100%;
    width: 50%;

    &.left {
        margin-left: -1px;
border-right: $panel-border-light;
        .content, .status {

        }
    }

    &.right {
        margin-right: -1px;
        right: 0;
        top: 0;
border-left: $panel-border-dark;

        .content, .status {

        }
    }

    .status {
        box-sizing: border-box;
        padding: $base-padding;
        position: fixed;
        width: 50%;
        background-color: $bg-color;
        height: $status-height;
        top: 0;
        z-index: 99;
        border-bottom: $panel-border-dark;

        &:after {
            left: 0;
            position: absolute;
            bottom: -2px;
            width: 100%;
            content: '';
            border-top: $panel-border-light;
        }

        /*
        // Drop shadow
        &:before {
            $height: 3px;

            left: 0;
            position: absolute;
            bottom: - $height - 2px;
            width: 100%;
            height: $height;
            content: '';
            background: -webkit-linear-gradient($bg-color, rgba($bg-color, 0.0));
        }*/
    }
}

.editor {
    .status {
        input {
            background-color: transparent;
            width: 50%;
            padding: 0;
            margin: 0;
            height: $status-height - ($base-padding * 2);
            border: 0;
            color: #93e0e3;
            line-height: $status-height - ($base-padding * 2);
            font-size: 1.2em;
            font-weight: 100;
        }

        .filename {

        }

        .tags {
            float: right;
            text-align: right;
        }
    }
    .content {
        margin-top: $status-height;
        height: 100%;
    }
}

@mixin container() {
    padding: $base-padding;
    margin: $base-padding;
    border-radius: 3px;
    background-color: #e5f2f0;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
}

.preview {
    color: #1a2825;

    .content {
        @include container();
        margin-top: $status-height + $base-padding;
        overflow-x: hidden;
    }

    h1 { font-size: 32px; }
    h2 { font-size: 26px; }
    h3 { font-size: 22px; }
    h4 { font-size: 16px; }
    h5 { font-size: 14px; }
    h6 { font-size: 12px; }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 0.2em;
    }

    input[type='checkbox'] {
        margin-right: 8px;
    }

    table {
        margin-bottom: $base-padding;
        width: 100%;

        thead {
            border-bottom: 2px solid #ccc;
        }

        th, td {
            padding: 5px;
        }
    }
}

.files {
    z-index: 999;

    input {
        padding: 5px 0;
        width: 100%;
        font-size: 18px;
        border-radius: 3px;
        border: 1px solid #ddd;
    }

    .content {
        padding: $base-padding;
        margin-top: $status-height;
    }

    .tags {
        padding-left: 0;

        li {
            display: inline-block;
            margin: 0 1em 1em 0;

            a {
                cursor: pointer;
                padding: 5px 10px;
                background-color: #fafafa;
                border-radius: 3px;
                text-decoration: none;
            }
        }
    }

    .file-list {
        padding: 0;
        margin-bottom: 0;

        li {
            cursor: pointer;
            list-style: none;
            padding: 10px;
            background-color: #fafafa;
            border-bottom: 1px solid #ddd;
            border-top: 1px solid #fff;
            color: #555;

            &:hover {
                background-color: #eee;
            }
        }
    }
}
