doctype html
html
    head
        meat(charset='utf-8')
        title Akademia
        link(rel="stylesheet" type="text/css" href="../components/normalize.css/normalize.css")
        link(rel="stylesheet" type="text/css" href="../node_modules/markdown-it-highlightjs/node_modules/highlight.js/styles/github.css")
        link(rel="stylesheet" type="text/css" href="../css/app.css")
    body
        .column.left.editor
            #editor.
                # Welcome to Akademia :book:

                ## Reference

                - https://stackedit.io
                - http://writeapp.net/mac/
                - https://marxi.co

                ## TODO Markdown

                - [ ] Videos. `//` tema konpondu.
                - [ ] [More plugins?](https://www.npmjs.com/browse/keyword/markdown-it-plugin)
                - [ ] On checkbox toggle show warning ("not implemented, change in markdown")
                - [x] Emoji hint, popup.
                - [x] Double-synced scroll
                - [x] Open external links in browser (not in electron)
                - [x] Emoji
                - [x] Tables
                - [x] Tipography
                - [x] Code blocks
                - [x] Checkboxes
                - [x] Footnotes
                - [x] Sub/Sup
                - [x] `&lt;http://example.com&gt;` links. HTML encoding problema bat uan.

                ## TODO App

                - [ ] Preview footer buttons:
                    - [ ] TOC
                    - [ ] Progress bar (for checkboxes)
                    - [ ] Frontmatter table?
                - [ ] Images
                - [ ] CSS, UI, UX, Design.
                - [ ] Añadir shortcuts + documentar: `cmd+enter` (toggle editor), `cmd+p` (search), `cmd+s` (toggle sidebar)
                - [ ] Bidirectional checkbox. Synced-scroll moduan soluzionatzia ziok, zenbagarren checkboxa dan beitu eta beste aldian N-garrena eguneratu.
                - [ ] Preview beian TOC link bat eta Progress mini summary bat jarri (adib: `2/20`)
                - [ ] Use URL to know which file was open `#/path/to/file.md`. Usefull for development

                ## TODO Future

                - [ ] MathJax
                - [ ] &lt;http://bramp.github.io/js-sequence-diagrams/&gt;
                - [ ] &lt;http://adrai.github.io/flowchart.js/&gt;
                - [ ] Link between documents
                - [ ] Markdown css style with different font-sizes/colors: http://codemirror.net/demo/variableheight.html
                - [ ] Hyphenate [based on language](https://www.npmjs.com/package/cld-atom-shell)?

                ## Introducing Markdown

                &gt; Markdown is a plain text formatting syntax designed to be converted to HTML. Markdown is popularly used as format for readme files, ... or in text editors for the quick creation of rich text documents.  - [Wikipedia](http://en.wikipedia.org/wiki/Markdown)

                As showed in this manual, it uses hash(#) to identify headings, emphasizes some text to be **bold** or *italic*. You can insert a [link](http://www.example.com) , or a footnote[^demo]. Serveral advanced syntax are listed below, please press `Ctrl + /` to view Markdown cheatsheet.

                [^demo]: This is a demo footnote. Read the [MultiMarkdown Syntax Guide](https://github.com/fletcher/MultiMarkdown/wiki/MultiMarkdown-Syntax-Guide#footnotes) to learn more. Note that Evernote disables ID attributes in its notes , so `footnote` and `TOC` are not actually working.

                ### Typographic replacements

                Enable typographer option to see result.

                (c) (C) (r) (R) (tm) (TM) (p) (P) +-

                test.. test... test..... test?..... test!....

                !!!!!! ???? ,,  -- ---

                "Smartypants, double quotes" and 'single quotes'

                ### Subscript &amp; supscript

                H~2~O

                e = mc^2^

                ### Code block

                ``` python
                @requires_authorization
                def somefunc(param1='', param2=0):
                    '''A docstring'''
                    if param1 &gt; param2: # interesting
                        print 'Greater'
                    return (param2 - param1 + 1) or None

                class SomeClass:
                    pass

                &gt;&gt;&gt; message = '''interpreter
                ... prompt'''
                ```

                    function test() {
                        return 'javascript';
                    }

                ### Videos

                @[youtube](dQw4w9WgXcQ)

                @[vimeo](68841186)

                @[youtube](MV_3Dpw-BRY)

                ### Table

                | Item      |    Value | Quantity |
                | :-------- | --------:| :------: |
                | Computer  | 1600 USD |     5    |
                | Phone     |   12 USD |    12    |
                | Pipe      |    1 USD |   234    |

                ### Checkbox

                You can use `- [ ]` and `- [x]` to create checkboxes, for example:

                - [x] Item1
                - [ ] Item2
                - [ ] Item3

                &gt; **Note:** Currently it is only partially supported. You can't toggle checkboxes in the preview.

                ### Emoji :kissing_smiling_eyes:

                :see: [emoji cheat-sheet](http://www.emoji-cheat-sheet.com) :document:. Hit `ctrl+space` for autocomplete.

                ## Feedback &amp; Bug Report

                - [GitHub](https://github.com/doup/akademia)
                - Twitter: [@aillarra](https://twitter.com/aillarra)
                - Email: &lt;asier@illarra.com&gt;

        .column.right.preview
            #preview

        .column.right.files
            #files
                input(data-search type='text')
                ul
                    li: a(href='' data-filter='') All
                    li: a(href='' data-filter='tag:favorite') Favorites
                    li &mdash;
                    li: a(href='' data-filter='tag:antropoceno') Antropoceno
                    li: a(href='' data-filter='tag:gra') GRA

                ul(data-filelist class='file-list')

        script(type="text/javascript" src="../components/keymaster/keymaster.js")
        script(type="text/javascript" src="../node_modules/ace-builds/src-noconflict/ace.js")
        script(type="text/javascript" src="../node_modules/ace-builds/src-noconflict/ext-language_tools.js")
        script(type="text/javascript" src="../src/renderer.js")

        // build:remove
        // Connect to server process
        script require('electron-connect').client.create()
        // end:build
