doctype html
html
    head
        meat(charset='utf-8')
        title Akademia
        link(rel="stylesheet" type="text/css" href="../components/normalize.css/normalize.css")
        link(rel="stylesheet" type="text/css" href="../node_modules/markdown-it-highlightjs/node_modules/highlight.js/styles/github.css")
        link(rel="stylesheet" type="text/css" href="../css/app.css")
    body
        #app
        //-
            .column.left.editor
                .status
                #editor.content

            .column.right.preview
                .status
                #preview.content

            .column.right.files
                .status
                    input
                #files.content

        //-script(type="text/javascript" src="../node_modules/react/dist/react.js")
        script(type="text/javascript" src="../node_modules/ace-builds/src-noconflict/ace.js")
        script(type="text/javascript" src="../node_modules/ace-builds/src-noconflict/ext-language_tools.js")
        script(type="text/javascript" src="../src/renderer.js")

        // build:remove
        // Connect to server process
        script require('electron-connect').client.create()
        // end:build
